@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gold-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}